A company has customer data that contains 8 columns of customer details and another table having name customer_policy data contains the policy details of the customer. 
The company intends to offer some discount in premium for certain customers. To do that they ask their Data scientist team to get some information. Hence, following tasks DS team decided to perform:

### Data importation and giving column names :-

In [1]:
# importing libraries

import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

1)Add the column names to both datasets:\
    i) Column Name for customer details table:\
    customer_id,\
    Gender,\
    age, \
    driving licence present,\
    region code, \
    previously insured, \
    vehicle age \
    and vehicle damage in respective order.

In [2]:
customer_details = pd.read_csv('customer_details.csv')
customer_details.columns = ['customer_id','Gender','age','driving licence present','region code','previously insured',
'vehicle age', 'vehicle damage']
print ("Customer details table :")
customer_details.head()

Customer details table :

,customer_id,Gender,age,driving licence present,region code,previously insured,vehicle age,vehicle damage
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No

ii) Column Name for customer_policy table:\
customer_id, \
annual premium (in Rs), \
sales channel code, \
vintage and response.

In [3]:
customer_policy = pd.read_csv('customer_policy_details.csv')
customer_policy.columns = ['customer_id','annual premium (in Rs)','sales channel code','vintage','response']
print ("Customer policy details :")
customer_policy.head()

Customer policy details :

   customer_id  annual premium (in Rs)  sales channel code  vintage  response
0          1.0                 40454.0                26.0    217.0       1.0
1          2.0                 33536.0                26.0    183.0       0.0
2          3.0                 38294.0                26.0     27.0       1.0
3          4.0                 28619.0               152.0    203.0       0.0
4          5.0                 27496.0               152.0     39.0       0.0

### Null Values preprocessing for customer details table:-

2)Checking and Cleaning Data Quality:\
i) Null values\
Generate a summary of count of all the null values column wise\
Drop Null values for customer_id because central tendencies for id’s is not feasible.\
Replace all null values for numeric columns by mean.\
Replace all null values for Categorical value by mode.

In [4]:
print ("Summary of null values in customer details :")
customer_details.isna().sum()

Summary of null values in customer details :

customer_id                386
Gender                     368
age                        368
driving licence present    393
region code                392
previously insured         381
vehicle age                381
vehicle damage             407
dtype: int64

In [5]:
customer_details.dropna(subset = ['customer_id'],inplace = True)

print ("Summary of null values of customer details after dropping customer_id :")
customer_details.isna().sum()

Summary of null values of customer details after dropping customer_id :

customer_id                  0
Gender                     368
age                        366
driving licence present    392
region code                391
previously insured         381
vehicle age                381
vehicle damage             406
dtype: int64

In [6]:
customer_details['age'].fillna(customer_details['age'].mean(), inplace = True)
customer_details['driving licence present'].fillna(customer_details['driving licence present'].mean(), inplace = True)
customer_details['region code'].fillna(customer_details['region code'].mean(), inplace = True)
customer_details['previously insured'].fillna(customer_details['previously insured'].mean(), inplace = True)

print ("Summary of null values after replacing all null values for numeric columns by mean :")
customer_details.isna().sum()

Summary of null values after replacing all null values for numeric columns by mean :

customer_id                  0
Gender                     368
age                          0
driving licence present      0
region code                  0
previously insured           0
vehicle age                381
vehicle damage             406
dtype: int64

In [7]:
customer_details['Gender'].fillna(customer_details['Gender'].mode()[0], inplace = True)
customer_details['vehicle age'].fillna(customer_details['vehicle age'].mode()[0], inplace = True)
customer_details['vehicle damage'].fillna(customer_details['vehicle damage'].mode()[0], inplace = True)

print ("Summary of null values after replacing all null values for categorical columns by mode :")
customer_details.isna().sum()

Summary of null values after replacing all null values for categorical columns by mode :

customer_id                0
Gender                     0
age                        0
driving licence present    0
region code                0
previously insured         0
vehicle age                0
vehicle damage             0
dtype: int64

### Null Values preprocessing for customer policy table:-

In [8]:
print ("Summary of null values in customer policy :")
customer_policy.isna().sum()

Summary of null values in customer policy :

customer_id               387
annual premium (in Rs)    346
sales channel code        400
vintage                   388
response                  361
dtype: int64

In [9]:
customer_policy.dropna(subset = ['customer_id'], inplace = True)

print ("Summary of null values of customer policy after dropping customer_id :")
customer_policy.isna().sum()

Summary of null values of customer policy after dropping customer_id :

customer_id                 0
annual premium (in Rs)    344
sales channel code        400
vintage                   388
response                  361
dtype: int64

In [10]:
customer_policy['annual premium (in Rs)'].fillna(customer_policy['annual premium (in Rs)'].mean(), inplace = True)
customer_policy['sales channel code'].fillna(customer_policy['sales channel code'].mean(), inplace = True)
customer_policy['vintage'].fillna(customer_policy['vintage'].mean(), inplace = True)
customer_policy['response'].fillna(customer_policy['response'].mean(), inplace = True)

print ("Summary of null values after replacing all null values for numeric columns by mean :")
customer_policy.isna().sum()

Summary of null values after replacing all null values for numeric columns by mean :

customer_id               0
annual premium (in Rs)    0
sales channel code        0
vintage                   0
response                  0
dtype: int64

ii) Outliers\
Generate a summary of count of all the outliers column wise\
Replace all outlier values for numeric columns by mean. \
(Hint1: for outlier treatment use IQR method as follows:\
For example: for a column X calculate Q1 = 25th percentile and Q3 = 75th percentile then IQR = Q3 – Q1 ) then to check outlier, anything lower than a Q1 – 1.5IQR or greater than Q3 + 1.5 IQR would be an outlier\
Hint2: For getting percentile value, explore pd.describe() function)

### Checkig outliers for customer detailes table

In [11]:
customer_details.describe()

,customer_id,age,driving licence present,region code,previously insured
count,380723.000000,380723.000000,380723.000000,380723.000000,380723.000000
mean,190548.776244,38.822788,0.997868,26.389436,0.458259
std,110016.805160,15.504826,0.046104,13.223671,0.498006
min,1.000000,20.000000,0.000000,0.000000,0.000000
25%,95269.500000,25.000000,1.000000,15.000000,0.000000
50%,190543.000000,36.000000,1.000000,28.000000,0.000000
75%,285822.500000,49.000000,1.000000,35.000000,1.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000

In [12]:
temp = customer_details.describe()['age']
temp

count    380723.000000
mean         38.822788
std          15.504826
min          20.000000
25%          25.000000
50%          36.000000
75%          49.000000
max          85.000000
Name: age, dtype: float64

In [13]:
Q1 = temp['25%']
Q3 = temp['75%']

IQR = Q3 - Q1

In [14]:
customer_details[(customer_details['age'] < (Q1 - 1.5*IQR)) | (customer_details['age'] > (Q3 + 1.5*IQR))]

Empty DataFrame
Columns: [customer_id, Gender, age, driving licence present, region code, previously insured, vehicle age, vehicle damage]
Index: []

In [15]:
print ("Outliers in age columns :" ,customer_details.loc[customer_details["age"]<(Q1-IQR*1.5),"age"].count())
print ("Outliers in age columns :" ,customer_details.loc[customer_details["age"]>(Q3+IQR*1.5),"age"].count())

Outliers in age columns : 0
Outliers in age columns : 0

In [16]:
customer_details[(customer_details['age'] < (Q1 - 1.5*IQR)) | (customer_details['age'] > (Q3 + 1.5*IQR))]['age'] = np.nan
customer_details['age'].fillna(customer_details['age'].mean(), inplace = True)

In [17]:
print ("Age column after filling outliers :")
customer_details['age']

Age column after filling outliers :

0         44.0
1         76.0
2         47.0
3         21.0
4         29.0
          ...
381104    74.0
381105    30.0
381106    21.0
381107    68.0
381108    46.0
Name: age, Length: 380723, dtype: float64

### Checkig outliers for customer policy table

In [18]:
customer_policy.describe()

,customer_id,annual premium (in Rs),sales channel code,vintage,response
count,380722.000000,380722.000000,380722.000000,380722.000000,380722.000000
mean,190547.491663,30563.999774,112.036687,154.347192,0.122526
std,110013.824148,17190.147550,54.177046,83.628096,0.327737
min,1.000000,2630.000000,1.000000,10.000000,0.000000
25%,95276.250000,24416.000000,29.000000,82.000000,0.000000
50%,190536.500000,31656.000000,131.000000,154.000000,0.000000
75%,285818.750000,39391.750000,152.000000,227.000000,0.000000
max,381109.000000,540165.000000,163.000000,299.000000,1.000000

In [19]:
temp1 = customer_policy.describe()['annual premium (in Rs)']

In [20]:
Q1 = temp1['25%']
Q3 = temp1['75%']

IQR = Q3 - Q1

In [21]:
print('Outliers present in annual premium (in Rs)  column are :',customer_policy.loc[customer_policy["annual premium (in Rs)"]<(Q1-IQR*1.5),"annual premium (in Rs)"].count())
print('Outliers present in annual premium (in Rs)  column are :',customer_policy.loc[customer_policy["annual premium (in Rs)"]>(Q3+IQR*1.5),"annual premium (in Rs)"].count())

Outliers present in annual premium (in Rs)  column are : 0
Outliers present in annual premium (in Rs)  column are : 10332

In [22]:
customer_policy[(customer_policy['annual premium (in Rs)'] < (Q1 - 1.5*IQR)) | (customer_policy['annual premium (in Rs)'] > (Q3 + 1.5*IQR))]

,customer_id,annual premium (in Rs),sales channel code,vintage,response
25,26.0,61964.0,152.0,72.0,0.0
37,38.0,76251.0,152.0,107.0,0.0
67,68.0,66338.0,124.0,73.0,0.0
139,140.0,62164.0,152.0,116.0,0.0
149,150.0,76651.0,152.0,258.0,0.0
...,...,...,...,...,...
380959,380960.0,61909.0,152.0,161.0,0.0
380998,380999.0,101664.0,124.0,21.0,0.0
381035,381036.0,62889.0,152.0,295.0,0.0
381047,381048.0,71915.0,7.0,233.0,0.0
381079,381080.0,69845.0,26.0,115.0,0.0

In [23]:
customer_policy[(customer_policy['annual premium (in Rs)'] < (Q1 - 1.5*IQR)) | (customer_policy['annual premium (in Rs)'] > (Q3 + 1.5*IQR))]['annual premium (in Rs)'] = np.nan

In [24]:
customer_policy['annual premium (in Rs)'].fillna(customer_policy['annual premium (in Rs)'].mean(),inplace = True)

In [25]:
print ("Annula Premium (in Rs) column after filling outliers :")
customer_policy['annual premium (in Rs)']

Annula Premium (in Rs) column after filling outliers :

0         40454.0
1         33536.0
2         38294.0
3         28619.0
4         27496.0
           ...
381104    30170.0
381105    40016.0
381106    35118.0
381107    44617.0
381108    41777.0
Name: annual premium (in Rs), Length: 380722, dtype: float64

### Outliers is removed.

iii) White spaces\
 Remove white spaces

In [26]:
customer_details['Gender'] = customer_details['Gender'].str.strip()

In [27]:
customer_details['vehicle age'] = customer_details['vehicle age'].str.strip()

In [28]:
customer_details['vehicle damage'] = customer_details['vehicle damage'].str.strip()

### White spaces are removed.

iv) case correction(lower or upper, any one)

In [29]:
customer_details['Gender'] = customer_details['Gender'].str.lower()

In [30]:
customer_details['vehicle age'] = customer_details['vehicle age'].str.lower()

In [31]:
customer_details['vehicle damage'] = customer_details['vehicle damage'].str.lower()

### Conversion of nominal data into dummies:

In [32]:
dummies_gender=pd.get_dummies(customer_details["Gender"])
dummies_vehicle_age=pd.get_dummies(customer_details["vehicle age"])
dummies_vehicle_damage=pd.get_dummies(customer_details["vehicle damage"])
dummies_dlp=pd.get_dummies(customer_details["driving licence present"])
dummies_pre=pd.get_dummies(customer_details["previously insured"])

### Drop Duplicates (duplicated rows)

###  customer details table

In [33]:
print ("Number of duplicated rows in customer details table :" ,customer_details.duplicated().sum())

Number of duplicated rows in customer details table : 0

In [34]:
customer_details.drop_duplicates(inplace=True) # drop duplicated rows

### customer policy table

In [35]:
print ("Number of duplicated rows in customer policy table :" ,customer_policy.duplicated().sum())

Number of duplicated rows in customer policy table : 0

In [36]:
customer_policy.drop_duplicates(inplace=True) # drop duplicated rows

#### 3) Create a Master table for future use. Join the customer table and customer_policy table to get a master table using customer_id in both tables.\ (Hint: use pd.merge() function)

In [37]:
master_table = pd.merge(customer_details,customer_policy, on = 'customer_id')

In [38]:
print ("Master table after merging customer details and customer policy on customer_id :")
master_table

Master table after merging customer details and customer policy on customer_id :

,customer_id,Gender,age,driving licence present,region code,previously insured,vehicle age,vehicle damage,annual premium (in Rs),sales channel code,vintage,response
0,1.0,male,44.0,1.0,28.0,0.0,> 2 years,yes,40454.0,26.0,217.0,1.0
1,2.0,male,76.0,1.0,3.0,0.0,1-2 year,no,33536.0,26.0,183.0,0.0
2,3.0,male,47.0,1.0,28.0,0.0,> 2 years,yes,38294.0,26.0,27.0,1.0
3,4.0,male,21.0,1.0,11.0,1.0,< 1 year,no,28619.0,152.0,203.0,0.0
4,5.0,female,29.0,1.0,41.0,1.0,< 1 year,no,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380331,381105.0,male,74.0,1.0,26.0,1.0,1-2 year,no,30170.0,26.0,88.0,0.0
380332,381106.0,male,30.0,1.0,37.0,1.0,< 1 year,no,40016.0,152.0,131.0,0.0
380333,381107.0,male,21.0,1.0,30.0,1.0,< 1 year,no,35118.0,160.0,161.0,0.0
380334,381108.0,female,68.0,1.0,14.0,0.0,> 2 years,yes,44617.0,124.0,74.0,0.0
380335,381109.0,male,46.0,1.0,29.0,0.0,1-2 year,no,41777.0,26.0,237.0,0.0

### Customer_detailes table and customer_policy_detailes table are merged.

.

4) Company needs some important information from the master table to make decisions for future growth.They needs following information:\
    i) Gender wise average annual premium\
    ii) Age wise average annual premium\
    iii) Is your data balanced between the genders?\
          (Hint: Data is balanced if number of counts in each group is approximately same)\
    iv) Vehicle age wise average annual premium.\

In [39]:
gen_wise_avg = master_table.groupby(["Gender"])["annual premium (in Rs)"].mean()
print ("Gender wise average annual premium :")
gen_wise_avg

Gender wise average annual premium :

Gender
female    30492.028478
male      30623.619273
Name: annual premium (in Rs), dtype: float64

In [40]:
age_wise_avg = master_table.groupby(["age"])["annual premium (in Rs)"].mean()
print ("Age wise average annual premium :")
age_wise_avg

Age wise average annual premium :

age
20.0    26924.620173
21.0    30564.475810
22.0    30823.778102
23.0    30688.606298
24.0    31183.802890
            ...
81.0    31201.571429
82.0    37705.379310
83.0    31012.727273
84.0    35440.818182
85.0    29792.363636
Name: annual premium (in Rs), Length: 67, dtype: float64

In [41]:
master_table.groupby('Gender').count() 

# The data is balanced between the gender as the data for gender is approximately same

,customer_id,age,driving licence present,region code,previously insured,vehicle age,vehicle damage,annual premium (in Rs),sales channel code,vintage,response
Gender,,,,,,,,,,,
female,174485,174485,174485,174485,174485,174485,174485,174485,174485,174485,174485
male,205851,205851,205851,205851,205851,205851,205851,205851,205851,205851,205851

In [42]:
vehage_wise_avg = master_table.groupby(["vehicle age"])["annual premium (in Rs)"].mean()
print ("Vehicle age wise average annual premium :")
vehage_wise_avg

Vehicle age wise average annual premium :

vehicle age
1-2 year     30524.629840
< 1 year     30115.716367
> 2 years    35657.520845
Name: annual premium (in Rs), dtype: float64

5)Is there any relation between Person Age and annual premium? \
Hint: use correlation function (Correlation describes the relationship between two variables).\
Correlation coefficient < -0.5           - Strong negative relationship\
Correlation coefficient > 0.5            -  Strong positive relationship\
0.5 < Correlation coefficient < 0.5       - There is no relationship.

In [43]:
n=master_table['age'].corr(master_table["annual premium (in Rs)"])
n

0.0677151598661391

In [44]:
# Since the pearson coefficient lies between 0.5 and -0.5

# So,there is no relation between age and annual premium (in Rs)